@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}